name: Release Please

on:
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - name: Check Commit Message [skip CI]
        env:
          COMMIT_FILTER: "[skip ci]"
        if: contains(github.event.head_commit.message, '[skip ci]')
        run: |
          echo "Commit contains '[skip ci]', skipping release"
          exit 1

      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.RELEASE_TOKEN }}
          release-type: simple
